.header {

}

.stiky-header {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    height: 40px;
    
    ul {
        margin: 0 10px;
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;

        color: #fff;

        a{
            cursor: pointer;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 200px; // 원하는 크기로 변경하세요
            height: auto;
        }
    }
}
