.header {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    transition: all .3s;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 10px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .nav-text {
        display: flex;
        gap: 20px;

        a {
            display: block;
            font-size: 16px;
            color: #fff;
            padding: 5px;
            position: relative;
            font-weight: 500;
            cursor: pointer;

        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 200px;
            height: auto;
        }
    }

    .nav-icon {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            cursor: pointer;
        }
    }
}
