.inner-instar {
    padding: 100px 20% 0;
    
}
.instar-text h2{
    font-size: 32px;
    color: skyblue;
}

.instar-grid {
    display: flex;
    gap: 8px;
}

.image-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
}