.Hello {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 630px;
    gap: auto;
    margin: 0 240px;

    img {
        width: 630px;
        height: 630px;
    }
    
    ul {
        width: 630px;
        height: 630px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 29px;


        li {
            margin-bottom: 29px;
        }


        li:nth-child(1) {
            color: rgba(0, 0, 0, 0.33);
            font-size: var(--sub-font-size);
            width: 400px;
            margin: 0 auto;
        }
        li:nth-child(2) {
            color: var(--main-color);
            font-size: var(--main-font-size);
            font-weight: 500;
            width: 360px;
            margin: 0 auto;
            
        }
        li:nth-child(3) {
            font-size: var(--text-font-size);
            width: 482.28px;
            text-align: center;
            margin: 0 auto;
        }
        li:nth-child(4) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 311px;
            height: 49px;
            margin: 0 auto;
            color: #fff;
            font-size: 20px;
            background-color: var(--main-color);
            border-radius: 50px;
            cursor: pointer;
        }
    }
}